body {
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.mainBox {
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox button {
    margin: 5px;
}

.notif {
    position: fixed;
    z-index: 100;
    width: 400px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 0 25px 10px -15px rgba(0, 0, 0, 0.05);
    text-align: center;
    top: 20px;
    border: 1px solid rgba(0, 0, 0, .125);
    right: -400px;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.notif.slide {
    right: 20px;
}

.notif h4 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

.notif p {
    font-size: 1rem;
    color: #626262;
    margin: 0;
    margin-bottom: 10px;
}

.notif .progressBar {
    flex: 1;
    height: 26px;
    background-color: #f8f8f8;
    overflow: hidden;
    border-radius: 20px;
}

.notif .progressBar div {
    background: linear-gradient(0.25turn, #352182, #411C6E, #652182);
    width: 60%;
    height: 100%;
    transition-delay: 1s;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.notif .progressBar div em {
    position: absolute;
    width: 100%;
    right: 0px;
    color: white;
}


/* POPIN */

.swal2-title {
    color: #411C6E !important;
}

#swal2-content h4 {
    font-size: 1.2rem;
    font-style: italic;
}

.swal2-styled:focus {
    box-shadow: none !important;
}

.swal2-styled.swal2-confirm {
    background: linear-gradient(0.25turn, #352182, #411C6E) !important;
}

.swal2-styled.swal2-confirm:hover {
    box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.2) !important;
}

.show-all {
    color: #411C6E;
    text-decoration: none;
}

.show-all:hover {
    color: #411C6E;
    text-decoration: none;
}