body {
    font-family: 'Ubuntu', sans-serif;
    color: #411C6E;
}


/* HEADER */

h1 {
    font-size: 2.6rem;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

h2 {
    font-size: 1.1rem;
    font-weight: bold;
}

.jumbotron {
    background: white;
    margin: 0;
    border-bottom: #411C6E solid 5px;
    border-radius: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.jumbotron a {
    text-decoration: none;
    color: #411C6E;
}

.jumbotron .row {
    display: flex;
    justify-content: center;
}

.jumbotron img {
    width: 100px;
}

.navbar {
    position: absolute;
    bottom: 0;
    font-weight: bold;
}

.navbar-collapse {
    justify-content: flex-end;
    align-items: flex-end;
}


/* HOMEPAGE */

.card {
    padding-bottom: 40px;
    transition: all 0.1s ease-in-out;
    border-radius: 0;
}

.card.disabled {
    opacity: 0.6;
}

.card.floating-card:hover {
    box-shadow: 0 7px 10px rgba(140, 149, 180, 0.7);
    transform: translateY(-7px);
}

.card .card-thumbnail {
    overflow: hidden;
}

.card .card-img-top {
    transition: all 4s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.1) rotate(1deg);
}

.card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0.25turn, #352182, #411C6E);
    height: 50px;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.card-bottom:hover {
    box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.2);
}

.card-bottom small {
    color: white;
    font-size: 1.4rem;
    position: absolute;
    left: 20px;
}

.card-bottom span {
    position: absolute;
    right: 20px;
    color: white;
    font-size: 1.1rem;
}

.card-bottom i {
    position: relative;
    top: 2px;
    left: 2px;
}

.card-bottom a:hover {
    color: white;
}


/* REWARDS */

.card-rank {
    color: white;
    background: linear-gradient(0.25turn, #352182, #411C6E, #652182);
    padding: 30px 20px;
}

.card-rank .card-title span {
    font-weight: bold;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 5%;
}

#progressPerso {
    width: 100%;
    background-color: #C0C0C0;
    border-radius: 20px;
}

#progressBar {
    width: 30%;
    height: 10px;
    background: linear-gradient(0.25turn, #352182, #411C6E, #652182);
    border-radius: 20px;
}

.classement {
    text-align: center;
    margin-bottom: 0;
}

.reward-card {
    padding: 25px 15px;
    margin: 20px 0 !important;
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    h1 {
        justify-content: center;
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .jumbotron {
        padding-bottom: 60px;
    }
}